*{font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";}
body{margin: 0px;padding: 0px;}
.main{max-width: 1200px;margin: auto;}

a{color: #fcfcfc;text-decoration: none;}
a:hover{color: rgb(143, 255, 255);}
.active{color: rgb(143, 255, 255);}

.text-align-right{text-align: right;}